@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');



*{
    box-sizing: border-box;
    color: white;
}


body{
    
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1484950763426-56b5bf172dbb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}

h1{
    font-size: 4rem;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.countdown-container{
    
   display: flex;
}

.big-text{
    font-size: 6rem;
    margin: 0 2rem;
    font-weight: bold;
}

.textAlign{
    text-align: center;
}

.textAlign span{
    font-size: 1.5rem;
}

